*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    display: flex;
    overflow:auto;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(2, 2, 184),rgb(31, 16, 102))
}

.box{
    height: 500px;
    background: rgb(22, 109, 209);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
h1{
    margin-bottom: 20px;
    color: #333;
}
#input{
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}
#addBtn{
    width: 80px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    cursor: pointer;
}

#addBtn:hover{
    background: #555;
    
}

ul{
    list-style: none;
    margin-top: 20px;
    text-align: left;
    text-align: center;
}

li{
    background: #f2f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    
    
}

